.oc__banner {
  position: relative;
  min-height: 83vh;

  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: $sage-light;
  padding-bottom: 10rem;

  &-outer {
    display: flex;
    flex-direction: column;

    &-head {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 10rem;
      padding-bottom: 5rem;

      &-line {
        padding-top: 1rem;
        height: 1px;
        border-bottom: 2px solid $navy-dark;
        width: 150px;
      }
    }
  }

  &-watermarkone {
    position: absolute;
    height: 20%;
    bottom: -10%;
    left: -5%;
    z-index: 100;
    z-index: 0;

    @include media(">=desktop") {
      height: auto;
    }
  }

  &-watermarktwo {
    position: absolute;
    height: 10%;
    top: -5%;
    right: -15%;
    z-index: 100;

    @include media(">=desktop") {
      right: -10%;
      height: 45%;
    }
  }
}

.oc__school {
  padding-bottom: 20%;
  padding-top: 20%;
  background-color: $navy-gray;

  h2,
  p,
  a {
    color: $navy-dark;
  }

  @include media(">=desktop") {
    padding-bottom: 10%;
    padding-top: 10%;
  }
}

.oc__practice {
  padding-bottom: 20%;
  padding-top: 20%;
  background-color: $navy-dark;

  h2,
  p,
  a {
    color: $white;
  }

  @include media(">=desktop") {
    padding-bottom: 10%;
    padding-top: 10%;
  }
}

.oc__escort {
  padding-bottom: 20%;
  padding-top: 20%;
  background-color: $sage-primary-50;

  h2,
  p,
  a {
    color: $navy-dark;
  }

  @include media(">=desktop") {
    padding-bottom: 10%;
    padding-top: 10%;
  }
}

.oc__contact {
  padding-top: 20%;
  padding-bottom: 20%;

  @include media(">=desktop") {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
