html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  transition: all 0.35s linear;
  min-height: 100vh;
  height: fit-content;
  max-width: 100vw;
  overflow-x: hidden;

  &.open {
    overflow: hidden;
  }
}

h1 {
  font-size: 5.8rem;
  line-height: 6.5rem;
  font-family: $PTSerif;
  color: $navy-dark;
}

h2 {
  font-size: 3.5rem;
  line-height: 4.8rem;
  font-weight: 500;
  font-family: $PTSerif;
  color: $navy-dark;

  @include media(">=desktop") {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2rem;

  @include media(">=desktop") {
    font-size: 2.5rem;
  }

  line-height: 3.5rem;
  font-family: $Montserrat;
  font-weight: 500;
  color: $navy-dark;
}

h4 {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-family: $PTSerif;
  color: $navy-dark;
}

p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-family: $Montserrat;
}

// a {
//   font-size: 1.6rem;
//   line-height: 2.8rem;
//   font-family: $Montserrat;
//   font-weight: 700;
//   color: $navy-dark;
// }

.footer-heading {
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 5%;
  font-family: $Montserrat;
  font-weight: 500;
}

.footer-text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-family: $Montserrat;
}

.alternate-text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 5%;
  font-weight: 300;
  font-family: $Montserrat;
}
