$navy-dark: #2d304a;
$navy-primary: #3e4365;
$navy-light: #778390;
$navy-gray: #b0c7d2;

$sage-dark: #a4b0a1;
$sage-primary: #d5dfd4;
$sage-primary-50: rgba(213, 223, 212, 0.5);
$sage-light: #d8e4df;
$sage-gray: #a4b0a1;

$success-light: #63ad5e;
$success: #4bb543;
$success-dark: #28b01e;

$warning-light: #ffd736;
$warning: #ffcc00;
$warning-dark: #e6b800;

$danger-light: #ff3838;
$danger: #ff0e0e;
$danger-dark: #db0000;

$dark: #474747;
$dark-dark: #2c2c2c;

$light: #ffffff;
$light-dark: #f3f3f3;

$black: #000000;
$white: #ffffff;
