.bt__button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: $sage-primary;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 10000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &-img {
    height: 50%;
  }
}
