.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  transform: translateY(-150%);
  cursor: auto;
  overflow: auto;
  background-color: $sage-primary;
  z-index: 100000;
  width: 100vw;

  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: 35vh;

    @media (max-width: 380px) {
      padding-top: 80vh;
    }
  }

  &.close {
    animation: hideMenu 0.9s cubic-bezier(0.405, 0, 0.025, 1);
  }

  &.open {
    animation: showMenu 0.3s cubic-bezier(0.405, 0, 0.025, 1) forwards;
  }
}

@keyframes hideMenu {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150%);
  }
}

@keyframes showMenu {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}

// mobile menu
//   #mobile__inner-menu {
//     li {
//       margin-bottom: 24px;
//     }

//     li a {
//       color: $white;
//       font-family: $Poppins;
//       font-size: 20px;
//       transition: 300ms all linear;

//       &:hover {
//         color: $secondary-color;
//       }
//     }
//   }
